@import "react-datepicker/dist/react-datepicker.css";

.react-datepicker {
  font-family: inherit;
  border-radius: 0.75rem;
  border: 1px solid #e5e7eb;
}

.react-datepicker__header {
  background-color: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
}